<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{grupos.detalle}"></title>
</head>
<body>
    <div layout:fragment="cabecera">
        <h1 th:text ="#{grupos.edit}"></h1>
    </div>
    <div layout:fragment="contenido">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <form role="form" th:object="${datos}" method="post">
                                        <input th:type="hidden" th:field="${datos.id}">
                                        <div class="d-flex flex-row align-items-center mb-4">

                                            <div class="form-outline flex-fill mb-0">
                                                <label for="email" th:text="#{general.email}"></label>
                                                <input type="email" id="email" maxlength="50" th:field="${datos.email}">
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">

                                            <div class="form-outline flex-fill mb-0">
                                                <label for="descripcion" th:text="#{general.descripcion}"></label>
                                                <input type="text" id="descripcion" maxlength="250" th:field="${datos.descripcion}" >
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">

                                            <div class="form-outline flex-fill mb-0">
                                                <label for="url" th:text="#{general.url}"></label>
                                                <input type="text" id="url" maxlength="250" th:field="${datos.url}" >
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" th:title="#{btn.guardar}" class="btn btn-primary btn-lg" th:text="#{btn.guardar}" > </button>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <a th:href="@{/}" role="button" title="Volver a principal" class="btn btn-danger btn-lg" th:text="#{btn.cancelar}"/>
                                        </div>

                                    </form>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <img  th:src="@{/img/logogrande.png}"
                                          class="img-fluid" alt="Sample image">
                                </div>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>