<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{proc.reflectance.title}"></title>
</head>
<body>
    <div layout:fragment="cabecera">
        <h1  th:text="#{proc.reflectance.title}"></h1>
    </div>
    <div layout:fragment="contenido">
        <div class="box-body">
            <h2 th:text="${resultado}"></h2>
            <form action="#" th:action="@{/uploadedfiles}" method="get">
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit"  class="btn btn-primary btn-lg"
                            th:text="#{btn.backtolist}"></button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>