<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="#{pythonscript.title}"></title>
</head>
<body>
    <div layout:fragment="cabecera">
        <h1 th:text="#{pythonscript.list.title}"></h1>
    </div>
    <div layout:fragment="contenido">
        <div class="box-body">
            Show <span sd:page-size-selector="javascript"></span> entries

            <form action="#" th:action="@{/}" method="post">
                <div class="table-responsive">
                <!-- Opcion 1 : tabla con contenido ( recomandable en caso de listas-->
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th th:text="#{pythonscript.field.scriptTitle}"></th>
                            <th th:text="#{pythonscript.field.scriptDescription}"></th>
                            <th>&nbsp</th>
                            <th>&nbsp</th>
                        </tr>
                        <tr th:each="elemento , posicion : ${lista}">
                            <td th:text="${elemento.scriptTitle}"></td>
                            <td th:text="${elemento.scriptText}"></td>
                            <td>
                                <!-- meter un link para ver  con texto "ver"-->
                                <a th:href="@{'/pythonscript/'+ ${elemento.id}}"
                                   th:text="#{general.detalles}"></a>
                            </td>
                            <td>
                                <!-- meter un boton para borrar  con un boton-->
                                <button type="submit" value="Eliminar"
                                        th:text="#{general.eliminar}"
                                        th:formaction="'/pythonscript/'+ ${elemento.id} +'/delete'"></button>
                            </td>
                        </tr>
                        <!--Mostramos una ultima fila con inormación cuando no hay registros -->
                        <tr th:if="${lista ==null or  lista.empty}">
                            <td colspan="13" class="text-center" th:text="#{general.nodata}"></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <!-- preparamos el div para poner los numeros de pagina-->
        <div  th:if="${lista!=null and !lista.empty}" >
            <div class="text-center">
                <nav>
                    <ul class="pagination" sd:pagination="full">
                        <!--  si hay menos del numero minimo de registos no muestro la barra-->
                        <div  th:if="${lista.totalPages > 0}" class="pagination"
                           th:each="pageNumber : ${pageNumbers}">
                            <li th:class="${pageNumber==lista.number + 1} ? active">
                                <a href="#" th:href="@{/pythonscript(size=${lista.size}, page=${pageNumber})}"
                                   th:text=${pageNumber}></a>
                            </li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</body>
</html>

