<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layout/layout}">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{usuarios.login.title}"></title>
    </head>
    <body>
        <div layout:fragment="cabecera">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" th:text="#{cambiopassword.subtitle}"></p>
        </div>
        <div layout:fragment="contenido">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                        <form class="mx-1 mx-md-4" role="form" th:object="${datos}" th:action="@{/usuarios/resetpass}" method="post">
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <label class="form-label" for="form3Example3c">Email</label>
                                                    <input type="email" id="form3Example3c" class="form-control" th:field="${datos.email}" required/>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <label class="form-label" for="nuevacontraseña" th:text="#{registro.newpassword}"></label>
                                                    <input type="password" id="nuevacontraseña" class="form-control" th:field="${datos.password}" required/>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <label class="form-label" for="repetircontraseña" th:text="#{registro.repeatpassword}"></label>
                                                    <input type="password" id="repetircontraseña" class="form-control" th:field="${datos.newpassword}" required/>
                                                    <div id="confirm-password-error" class="error"></div>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                <button type="submit" class="btn btn-primary btn-lg" th:text="#{registro.changepassword}"></button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

