<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml" xmlns:h1th="http://www.w3.org/1999/html"
      layout:decorate="~{/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>
<div layout:fragment="cabecera">
</div>
<div layout:fragment="contenido" >

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="vw-100 col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <h3 th:text="#{home.bloque1.articulo}" ></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img  th:src="@{/img/logo1.jpg}"
                                      class="img-fluid" alt="logo">
                            </div>
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



</body>
</html>