<!DOCTYPE html>
<html th:lang="#{principal.lang}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
      xmlns:sec="http://www.w3.org/1999/xhtml"

<head>
    <meta th:charset="#{principal.charset}">
    <title th:text="#{principal.title}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/lib/lightbox/css/lightbox.min.css}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->

<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="top-bar row gx-0 align-items-center d-none d-lg-flex">
        <div class="col-lg-6 px-5 text-start">
            <small><i class="fa fa-map-marker-alt me-2"></i>Calle Larios, Málaga</small>
            <small class="ms-4"><i class="fa fa-envelope me-2"></i>nutrifit@gmail.com</small>
        </div>
        <div class="col-lg-6 px-5 text-end">
            <small>Síguenos:</small>
            <a class="text-body ms-3" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="text-body ms-3" href=""><i class="fab fa-twitter"></i></a>
            <a class="text-body ms-3" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="text-body ms-3" href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="fw-bold text-primary m-0">F<span class="text-secondary">oo</span>dy</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/login}" class="nav-item nav-link active">Regístrate</a>
                <a th:href="@{/}" class="nav-item nav-link">Nutrición</a>
                <a th:href="@{/entrenamiento}" class="nav-item nav-link">Entrenamiento</a>
                <a th:href="@{/404}" class="nav-item nav-link">Otros</a>
                <div class="nav-item dropdown">
                    <a th:href="@{/product}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tienda</a>
                </div>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/contact}" class="nav-item nav-link">Reserva tu clase</a>
            </div>
            <div class="d-none d-lg-flex ms-2">
                <a class="btn-sm-square bg-white rounded-circle ms-3" href="">
                    <small class="fas fa-search text-body"></small>
                </a>
                <div class="dropdown">
                    <button class="btn-sm-square bg-white rounded-circle ms-3 dropdown-toggle" type="button"
                            id="userDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <small class="fas fa-user text-body"></small>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownBtn">
                        <span id="username"></span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" id="logoutBtn">Cerrar sesión</a>
                    </div>
                </div>
                <a class="btn-sm-square bg-white rounded-circle ms-3" href="">
                    <small class="fas fa-shopping-bag text-body"></small>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->


<!-- Inicio ventanas que rellena java-->
<div class="container-xxl py-5">
    <!-- Aqui vamos a escribir las cabeceras de los bloques  -->
    <section class="container" layout:fragment="cabecera"> </section>
    <!-- Aqui vamos a escribir el contenido de los bloques  -->
    <section class="container" layout:fragment="contenido"> </section>
</div>

<!-- Fin  ventanas que rellena java-->



<!-- Footer Start -->
<div class="container-fluid bg-dark text-secondary footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4" th:text="#{layout.Address}"></h5>
                <p class="mb-2" th:text="#{FooterStart.direccion}"><i class="fa fa-map-marker-alt me-3"></i></p>
                <p class="mb-2" th:text="#{FooterStart.telefono}"><i class="fa fa-phone-alt me-3"></i></p>
                <p class="mb-2" th:text="#{FooterStart.email}"><i class="fa fa-envelope me-3"></i></p>
                <!--div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div-->
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4" th:text="#{layout.qlinks}" ></h5>
                <h6 class="text-light mb-4" th:text="#{layout.contact}" ></h6>
                <div class="dropdown-content">
                    <a rel="noopener" target="_blank" href="https://investigacion.ubu.es/investigadores/157494/detalle">José Manuel Aroca Fernández</a>
                    <br>
                    <a rel="noopener" target="_blank" href="https://investigacion.ubu.es/investigadores/37075/detalle">Pedro Latorre Carmona</a>
                    <br>
                    <a rel="noopener" target="_blank" href="https://investigacion.ubu.es/investigadores/35117/detalle">José Francisco Díez Pastor</a>

                </div>
                <a class="btn btn-link" th:href="'/privacy'" th:text="#{layout.privacy}" ></a>
                <a class="btn btn-link" th:href="'/termsandconditions'" th:text="#{layout.termcond}" ></a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4" th:text="#{layout.Newsletter}"></h5>
                <p>Advanced Data MIning Research And (Business intelligence | Bioinformatics | Big Data) LEarning</p>
                <a class="btn btn-link" href="https://www.linkedin.com/company/admirable-research-group/" th:text="#{layout.admirable}" ></a>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Copyright Start -->
<div class="container-fluid py-4" style="background: #000000;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; <a class="border-bottom" href="#">WALGREEN</a>, All Right Reserved.
            </div>

        </div>
    </div>
</div>
<!-- Copyright End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            var ref = window.location.pathname;
            if (selectedOption != ''){
                window.location.replace(ref + '?lang=' + selectedOption);
            }
        });
    });
</script>
<script type="text/javascript">
    function controlds1() {
        var ds2 = document.getElementById("ds2");
        ds2.checked = false;
    }
    function controlds2() {
        var ds1 = document.getElementById("ds1");
        ds1.checked = false;
    }
</script>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/wow/wow.min.js}"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/lib/counterup/counterup.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/lib/isotope/isotope.pkgd.min.js}"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/util.js}"></script>
</body>

</html>